* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100vh;
}

body {
  background-color: black;
}

.main-navbar {
  box-shadow: 0 1px 3px rgba(255, 255, 255, 0.918);
}

.cartW {
  display: inline-flex;
  span {
    width: 1px;
    height: 1px;
  }
}

.items {
  display: inline-flex;
  color: black;
  background-color: white;
  border-radius: 3rem;
  max-width: 25rem;
  margin: 3rem;
  padding: 2rem;
  text-align: center;
  img {
    padding: 0.3rem;
  }
  a {
    text-decoration: none;
  }
}

#container {
  margin: 2em;
}

.detail {
  display: flex;
  color: black;
  background-color: white;
  border-radius: 1.5em;
  padding: 3rem;
  border: gray 0.1em solid;
  text-align: center;

  img {
    padding: 0.5em;
  }

  a {
    text-decoration: none;
  }
}

.description {
  display: flex;
  color: white;
  background-color: black;
  border-radius: 1.5em;
  padding: 3rem;
  border: gray 0.1em solid;
  text-align: center;
}

.container {
  color: white;
}

.empty {
  position: absolute;
  bottom: 60%;
  left: 30%;
}

.cartContainer {
  display: inline-flex;
}

#cart {
  color: black;
  background-color: white;
  border-radius: 1.5em;
  border: gray 0.1em solid;
  text-align: center;
  padding: 1em;
  margin: 1em;
  img {
    width: 5em;
    height: 7em;
  }
}

#total {
  color: black;
  background-color: white;
  border-radius: 1.5em;
  border: gray 0.1em solid;
  text-align: center;
  padding: 1em;
  margin: 1em;
}

.form {
  color: black;
  background-color: white;
  border-radius: 1.5em;
  border: gray 0.1em solid;
  padding: 1em;
  text-align: center;
}
