* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100vh;
}

body {
  background-color: black;
}

.main-navbar {
  box-shadow: 0 1px 3px rgba(255, 255, 255, 0.918);
}

.container {
  color: white;
}

