* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100vh;
}

body {
  background-color: black;
}

.main-navbar {
  box-shadow: 0 1px 3px rgba(255, 255, 255, 0.918);
}

.container {
  color: white;
}

.items {
  display: inline-flex;
  color: black;
  background-color: white;
  border-radius: 3rem;
  max-width: 25rem;
  margin: 3rem;
  padding: 2rem;
  text-align: center;
}

.detail {
  display: flex;
  color: white;
  background-color: black;
  border-radius: 1.5em;
  padding: 3rem;
  border: gray 0.1em solid;
  text-align: center;
}
